.chartBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Agregamos algo de padding */
  
    .chart {
      display: flex;
      align-items: center;
      justify-content: center; /* Centrado horizontal */
      width: 100%;
      height: 100%;
    }
  
    .options {
      display: flex;
      flex-wrap: wrap; /* Permitimos que los elementos se ajusten en varias filas */
      justify-content: space-between;
      gap: 15px;
      font-size: 14px;
      margin-top: 20px; /* Espacio superior para las opciones */
      
      .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 45%; /* Ajuste para que ocupe menos espacio en pantallas grandes */
  
        .title {
          display: flex;
          gap: 10px;
          align-items: center;
        }
  
        .dot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }
  
    // Responsivo para pantallas pequeñas (max-width: 768px)
    @media (max-width: 768px) {
      padding: 15px; /* Reducimos el padding */
      
      .options {
        gap: 10px; /* Reducimos el espacio entre las opciones */
        font-size: 12px; /* Reducimos el tamaño del texto */
      }
  
      .option {
        width: 100%; /* Las opciones ocuparán todo el ancho en pantallas pequeñas */
        align-items: flex-start; /* Alineamos el texto a la izquierda */
      }
    }
  
    // Responsivo para pantallas más pequeñas (max-width: 480px)
    @media (max-width: 480px) {
      .options {
        gap: 5px; /* Reducimos aún más el espacio entre las opciones */
        font-size: 10px; /* Más pequeño el texto */
      }
  
      .option {
        width: 100%; /* Las opciones ocupan todo el ancho */
      }
    }
  }
  